body {
  font-family: 'Roboto', sans-serif;
}

.button {
  background-color: #fff;
  border-radius: 2px;
  color: #646464;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  height: 32px;
  line-height: 32px;
  position: relative;
  width: 120px;
}

.button > paper-ripple {
  border-radius: 2px;
  overflow: hidden;
}

.button.narrow {
  width: 60px;
}

.button.grey {
  background-color: #eee;
}

.button.blue {
  background-color: #4285f4;
  color: #fff;
}

.button.green {
  background-color: #0f9d58;
  color: #fff;
}

.button.raised {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}

.center {
  text-align: center;
}

.label {
  padding: 0 16px;
  text-transform: uppercase;
  user-select: none;

  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.label-blue {
  color: #4285f4;
}

.panel {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

h1 {
  color: white;
  left: 20px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 20px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  transition: left 0.6s ease-in-out;
  z-index: 100;
}

h1.hide {
  left: -100%;
}

#button {
  bottom: 20px;
  left: calc(50% - 60px);
  position: fixed;
  text-align: center;
  transition: bottom 0.6s ease-in-out;
  z-index: 500;
}

#button.hide {
  bottom: -100px;
}

#map {
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

#picturePanel {
  border-radius: 2px;
  max-height: calc(100% - 20px);
  max-width: calc(100% - 20px);
  float: right;
}

#pictureWrapper {
  height: 500px;
  max-height: 50%;
  max-width: 25%;
  pointer-events:none;
  position: fixed;
  right: 20px;
  top: 20px;
  transition: right 0.6s ease-in-out;
  width: 300px;
  z-index: 300;
}

#pictureWrapper.hide {
  right: -30%;
}

#toast {
  background-color: #323232;
  border-radius: 2px;
  bottom: -200px;
  color: white;
  left: 20px;
  max-width: 30%;
  padding: 24px;
  position: fixed;
  transition: bottom 0.6s ease-in-out;
  z-index: 1000;
}

#toast.active {
  bottom: 20px;
}

#toast > span#dismiss {
  cursor: pointer;
}

#alert {
  display: none;
  margin: 0 auto;
  max-width: 300px;
  padding: 1em;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 2000;
}

#alert.show {
  display: inline;
}
